<!DOCTYPE html>
<html lang="en">
    <head>
    {{>headerLinks}}

    </head>
<body>

    {{>navbar}}

    
    <div class="container-fluid main_header">
      <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
            <div class="col-md-6 col-12 main_header_right align-items-center">
                <figure>
                     <video width="450" height="550" autoplay>
                     <source src="images/about.mp4" type="video/mp4">
                </figure>
    
              </div>
       
          <div class="col-md-6 col-12 main_header_left">
            <p>Welcome to Weather Unit</p>
            <h1>Hope you liked our <span class="text_clr"> DEVELOPMENT</span> Project</h1>
      
            <a href="https://openweathermap.org/api" target="_blank"><button>About apis</button></a>
          </div>
          
          
          
        </div>
        </div>
        </div>
        </div>

        

        {{>footer}}


</body>

</html>

