<!DOCTYPE html>
<html lang="en">
    <head>
    {{>headerLinks}}

    </head>
<body>

    {{>navbar1}}

    
    <div class="container-fluid main_header">
      <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
            <div class="col-md-6 col-12 main_header_right align-items-center">
                <figure>
                    {{!-- <img src="images/abouts.jpg" alt="sam" class="img-fluid" title="Flood Unit" > --}}

                    <video width="450" height="550" autoplay>
                     <source src="images/contact.mp4" type="video/mp4">
                      {{!-- Your browser does not support the video tag. --}}
                    </video>
                </figure>
    
              </div>
       
          <div class="col-md-6 col-12 main_header_left" >
            <p>Contact For Weather Unit</p>

            <h1>WEATHER UNIT <span class="text_clr">is developed by </span> GROUP 5</h1>
            
          </div>
          
          
        </div>
        </div>
        </div>
        </div>

        
      <div >{{>footer}} </div>
        


</body>

</html>