<!doctype html>
<html>

<head>
    <title> Weather Predictions </title>
</head>

<body>
    <h1 style="text-align: center; font-family: Times New Roman; background-color:LightGray">Weather Predictions</h1>
    <div style="padding:20px;">
        <form action="/predict/" method="post">

            <div style="padding:10px; padding-left:325px">
                <label for="Cities">Cities for Prediction </label>
                <h1>Choose from these Cities</h1>
                <h2>1.Bangalore</h2><br>
                <h2>2.Mumbai</h2>
                <h2>3.Delhi</h2>
                <h2>4.Chennai</h2>
                <h2>5.Kolkata</h2>
                <input type="number" id="cities" name="cities">
            </div>
            <div style="padding:10px; padding-left:325px">
                <label for="Cities">Cities for Prediction </label>
                <h1>What do you want to see</h1>
                <h2>1.Avg temp</h2><br>
                <h2>2.Total rainfall</h2>
                <h2>3.avg wind speed</h2>
                <h2>4.No.of days with rain</h2>
                <h2>5.No. if days with fog</h2>
                <input type="number" id="cities1" name="cities1">
            </div>


        </form>
    </div>
</body>

</html>